* {
    margin: 0 auto;
}
h1,h2 {
    text-align: center;
    color: rgb(17, 39, 58);
}
#menu {
    text-align: center;
}
#menubar {
    text-align: center;
    display: none;
    p {
        display: inline; 
        padding: 1%;
    }
}
body {
    background-color: rgb(204, 237, 243);
}
header {
    padding-bottom: 10px;
    background-color: rgb(101, 140, 189);
}
.gallery {
    max-width: 1001px;
    margin: 0 auto;
}
figure img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 5px;
    background-color: white;
    box-shadow: 5px 5px 15px black;
    display: block;
    margin: 0 auto;
}

dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh; 
    padding: 3px 6px;
    font-size: 1.5em;
    height: 5%; 
    border-radius: 100%;
}
@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
        display: grid;
    }
    #menu {
        display: block;
    }
    #menubar {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #menu {
        display: none;
    }
    #menubar {
        display: block;
    }
}