#main {
    border: 2px solid lightgray;
    margin: 5% 20%;
}
h1 {
    text-align: center;
    font-size: 50px;
}
h2 {
    text-align: center;
    color: rgb(93, 152, 190);
}
hr {
    margin: 0 10%;
}
#body {
    margin: 5% 20%;
    line-height: 1.5em;
}
li {
    padding: 10px;
}
img {
    height: 100px;
    margin: 0 40%;
}