
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
header, footer {
    background-color: white;
    color: black;
    padding: 1rem 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: flex-end;
    border-top: bisque 4px solid;
    border-bottom: bisque 4px solid;
}
nav a {
    color: rgb(246, 64, 64);
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    
}
hr {
    color: bisque;
    height: 5px;
    background-color: bisque;
    border-width: 0;
    margin-top: 5%;
}
#book-list {
    padding: 0 2rem;
    text-align: left;
}
.book {
    padding: 1rem;
    border-radius: 10px;
    max-width: 700px;
    margin: 20px auto;
}
.book h2 {
    color: #b30059;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
}
.book p {
    padding-left: 20px;
    text-align: right;
}
.book img {
    max-width: 100%;
    height: 400px;
    width: 250px;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
}
#desc {
    grid-column: 1/3;
}

@media (min-width: 600px) {
    .main-nav{
        display: grid;
        grid-template-columns: 100px 100px;
        justify-content: center;

    }
    .book{
        display: grid;
        width: 100%;    
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    .book img {
        grid-row: 2/2;
        grid-column: 2/2;
    }
    h2 {
        grid-column: 2/2;
        grid-row: 1/1;
    }
    .book-info{
        border-right: bisque 4px solid;
        border-top: none;
        padding: 5%;
        grid-row: 1/4;
        max-width: 600px;
    }
    .book #desc {
        grid-column: 2/2;
        grid-row: 3/3;
        text-align: center;
    }
    hr {
        display: none;
    }

}
          